body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    font-size: 14px;
    background-color: #eceef1;
    text-align: justify;
}

.header-text {
    font-family: 'Open Sans','sans-serif';
    font-size: 24px;
    font-weight: 600;
    margin: 0;
    padding: 0 0 10px 0;
}

header, footer {
    min-height: 50px;
    position: relative;
    background-color: #fff;
}

    header .logo {
        width: 10%;
        display: inline-block;
        position: relative;
        margin-top: 11px;
        margin-bottom: 11px;
        margin-right: 20px;
    }

[role="contents"] {
    position: relative;
}

.mega-nav {
    background: #1abc9c;
    border-radius: 0;
    margin-bottom: 0;
}

    .mega-nav.navbar-default .navbar-nav > li > a {
        color: #fff;
        transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
        font-family: 'Open Sans','sans-serif';
        font-size: 19px;
        font-weight: 400;
        padding-right: 25px;
    }

        .mega-nav.navbar-default .navbar-nav > li > a:hover {
            background: darkcyan;
        }

    .mega-nav.navbar-default .navbar-nav > li.dropdown > a:hover,
    .mega-nav.navbar-default .navbar-nav > li.dropdown > a:focus,
    .mega-nav.navbar-default .navbar-nav > li.dropdown > a:active {
        background: #0075b3;
        color: #fff;
    }

#MainMenu {
    padding-left: 0;
}

    #MainMenu .menu-list li {
        transition: all 200ms ease-out;
        -webkit-transition: all 200ms ease-out;
        -ms-transition: all 200ms ease-out;
    }

        #MainMenu .menu-list li + li {
            border-left: 1px solid rgba(255, 255, 255, 0.5);
        }

.mega-nav.navbar-default .navbar-nav > li.menu-list .list-category a {
    color: #333;
}
/*.navbar .container {
    max-width: 970px;
}*/

body .main-container {
    width: 84%;
}

#shareRoundIcons {
    display: inline-block;
    width: 84%;
    height: 0%;
}

.jssocials-shares {
    float: right;
    /* margin-top: 10px; */
    margin-right: 80px;
}

.container-content {
    background-color: #fff;
    margin-top: 3%;
    /* border-radius: 5px; */
    margin-left: 11px;
    width: 58%;
    /* padding-left: 43px; */
    border-radius: 1px;
    /*border: 1px #e2e0e0 solid;*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.side-content {
    width: 40%;
    position: relative;
    overflow: hidden;
    padding-left: 0px;
}

@media only screen and (max-width : 767px) {
    .container-content {
        background-color: #fff;
        margin-top: 3%;
        width: 97%;
        border-radius: 1px;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    }

    header .logo {
        width: 100%;
        display: inline-block;
        position: relative;
        margin-top: 11px;
        margin-bottom: 11px;
        margin-right: 0px;
        top: 0;
        left: 0;
    }
}


@media only screen and (max-width : 997px) {
    .side-content img {
        width: 106%;
    }
}

/**** LAYOUT ****/
.list-inline > li {
    padding: 0 10px 0 0;
}

.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    /*background-color: #e0e0e0ab !important;*/
    background: linear-gradient( to right, #d6d6d6bf, #1abc9c2e );
}

.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}

.brdr {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}

.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px !important;
}

.mrg-0 {
    margin: 0 !important;
}

.btm-mrg-10 {
    margin-bottom: 10px !important;
}

.btm-mrg-20 {
    margin-bottom: 20px !important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px !important;
    }

        #property-listings .property-listing a {
            margin: 0;
        }

        #property-listings .property-listing .media-body {
            padding: 10px;
        }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }
}

.property-listing:hover {
    /* Webkit for Chrome and Safari */
    -webkit-transform: scale(1.1, 1.1);
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in;
    /* Webkit for Mozila Firefox */
    -moz-transform: scale(1.1, 1.1);
    -moz-transition-duration: 500ms;
    -moz-transition-timing-function: ease-in;
    /* Webkit for IE( Version: 11, 10 ) */
    -ms-transform: scale(1.10, 1.10);
    -ms-transition-duration: 500ms;
    -ms-transition-timing-function: ease-in;
    opacity: 0.7;
}

.property-listing .btn-content {
    float: left;
    margin-right: 7px;
}

.btn-view-details {
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Open Sans','sans-serif';
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    line-height: 40px;
    background-color: #1abc9c;
}
.employer_details_txt{
    padding-top: 10px;
}

.property-listing {
    cursor: pointer;
}